

<div class="alert alert-danger mt-5 mb-5">
    <h4>Acces Denied </h4><hr />
</div>

<a asp-controller="home" asp-action="index" class="btn btn-outline-primary" style="width:auto">Vrati se na naslovnu stranicu</a>