@{
    ViewData["Title"] = "O nama"; 
}

<h1 class="text-center text-secondary m-4">O nama</h1>

<div class="card-deck m-1">

    <div class="card m-4">
        <div class="card-body">
            <h5 class="card-title text-secondary m-3">USLUGE</h5>
            <p class="card-text text-secondary m-3">
                Moja Apoteka u poslovanju stavlja naglasak na profesionalan odnos s kupcima i održavanju njihovog povjerenja.
                Redovno poboljšavamo kvalitetu usluga koje nudimo našim dobavljačima i kupcima.
            </p>
        </div>
    </div>

    <div class="card m-4">
        <div class="card-body">
            <h5 class="card-title text-secondary m-3">STANDARDI</h5>
            <p class="card-text text-secondary m-3">
                Moja Apoteka primjenjuje standarde propisane od strane Agencije za kvalitet i akreditaciju u zdravstvu u Federaciji BiH.
                U središtu svih naših aktivnosti nalaze se pacijenti.
            </p>
        </div>
    </div>

</div>

<div class="card text-white bg-primary m-4">

    <div class="card-body m-4">
        <h5 class="card-title text-center m-3">INFORMACIJE</h5>
        <p class="card-text  d-flex justify-content-center m-3 ">
            Osnivači ”Moja Apoteka” su Šehbajraktarević Emina i Crnovršanin Emel.
            Stranica se bavi prikazivanjem i reklamiranjem raznih artikala kao što su: lijekovi, prirodni preparati, zdrava hrana, prirodni kozmetički preparati itd…
        </p>
    </div>

</div>

